<%= simple_form_for @collage do |f| %>
  <div class="fltrt">
    <%= f.submit "Continue" %>
  </div>
  <%= f.label :title %>
  <%= f.input :title, label: false %>
  <%= f.label :description %>
  <%= f.input :description, label: false, as: :text, class: "collage-input" %>
  <%= f.radio_button :layout, as: :radio_buttons %>
  Collage A
  <%= render "collage" %>
<% end %>