<h1>Listing mems</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Memory</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mems.each do |mem| %>
  <tr>
    <td><%= mem.title %></td>
    <td><%= mem.memory %></td>
    <td><%= link_to 'Show', mem %></td>
    <td><%= link_to 'Edit', edit_mem_path(mem) %></td>
    <td><%= link_to 'Destroy', mem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mem', new_mem_path %>
