<div id="edit-div" class="fltrt">
	<%= link_to 'Edit', edit_mem_path(@mem), class: "edit-link" %> |
	<%= link_to 'Back', mems_path, class: "edit-link" %>
</div>
<h1 class="clear-fix">
	<%= @mem.title %>
</h1>
</p>
<div class="words">
  <b>Memory:</b>
  <%= @mem.memory %>
</div>
<%= render "photos/form" %>
<div id="mem-div">
  <% @photos.each do |photo| %>
    <div class="photos-div">
    	<%= image_tag photo.pic.url(:medium), class: "photos" %>
    	<div class="photos-info-div">
         <p>
    		  <div class="fltlft">
            Likes
          </div>
          <%= photo.name %>
          <div class="fltrt">
            Dislikes
    	    </div>
         </p>
      </div>
	</div>
  <% end %>
</div>