<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @mem.title %>
</p>
<p>
  <b>Memory:</b>
  <%= @mem.memory %>
</p>
<%= render "photos/form" %>

<%= link_to 'Edit', edit_mem_path(@mem) %> |
<%= link_to 'Back', mems_path %>

<div id="memPics">
  <% @photos.each do |photo| %>
    <%= image_tag photo.pic.url(:medium) %>
    <%= FastImage.size(photo.pic.url(:medium)) %>
  <% end %>
</div>