<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @photo.name %>
</p>
<p>
  <%= image_tag @photo.pic.url(:small) %>
</p>
<p>
  <%= image_tag @photo.pic.url(:medium) %>
</p>

<%= link_to 'Edit', edit: [@mem, @photo] %> |
<%= link_to 'Back', mem_photos_path(@mem) %>
