<!DOCTYPE html>
<html>
<head>
  <title>Love for Adventure</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrap">
    <% if current_user %>
      <header>
        <% if defined? @dashboard %>
          Home
        <% else %>
          <%= link_to "Home", root_path, id: "header-home-link" %>
        <% end %>
        Love for Adventure
        <div id="header-dropdown-div-outer">
          <a href="#" id="header-dropdown-toggle">
            Options
          </a>
          <div id="header-dropdown-div-inner">
            <ul id="header-dropdown-list">
              <li>
                <%= link_to "Edit Account", edit_user_registration_path(current_user), class: "header-dropdown-links" %>
              </li>
              <li>
                <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "header-dropdown-links" %>
              </li>
            </ul>
          </div>
        </div>
      </header>
    <% end %>
    <div id="content">
      <% if current_user %>
        <div id="main-menu">
          <a href="#" id="main-menu-toggle">
            <<
          </a>
          <p class="main-menu-title toggle">
            <%= current_user.username %>
          </p>
          <table width="150px">
            <tr>
              <td width="50px">
                &nbsp;
              </td>
              <td width="150px" class="toggle">
                <p class="main-menu-subtitle">
                  Filter Users
                </p>
              </td>
            </tr>
            <tr>
              <td>
                <%= link_to "ME!", url_for(params.merge(users: "me")), class: "main-menu-links" %>
              </td>
              <td class="toggle">
                My Memories
              </td>
            </tr>
            <tr>
              <td>
                <%= link_to "Followers", url_for(params.merge(users: "followers")), class: "main-menu-links" %>
              </td>
              <td class="toggle">
                Friends
              </td>
            </tr>
            <tr>
              <td>
                <%= link_to "Following", url_for(params.merge(users: "leaders")), class: "main-menu-links" %>
              </td>
              <td class="toggle">
                Friends
              </td>
            </tr>
            <tr>
              <td>
                <%= link_to "ALL", url_for(params.merge(users: "all")), class: "main-menu-links" %>
              </td>
              <td class="toggle">
                Everyone
              </td>
            </tr>
          </table>
          <table width="150px">
            <tr>
              <td width="50px">
                &nbsp;
              </td>
              <td width="150px" class="toggle">
                <p class="main-menu-subtitle">
                  Filter Stuff
                </p>
              </td>
            </tr>
            <tr>
              <td>
                <%= link_to "MEMs", url_for(params.merge(stuff: "mems")), class: "main-menu-links" %>
              </td>
              <td>
                Memories
              </td>
            </tr>
            <tr>
              <td>
                <%= link_to "BLs", url_for(params.merge(stuff: "bls")), class: "main-menu-links" %>
              </td>
              <td>Bucket Lists
              </td>
            </tr>
          </table>
        </div>
      <% end %>
      <div id="main">
        <% flash.each do |key, value| %>
          <div class='flash' id='<%= key %>'>
            <div id="close-notice">
              x
            </div>
            <%= value %>
          </div>
        <% end %>
        <%= yield %>
      </div>
    </div>
  </div>
  <footer>
    &copy; Created with Love by Brothers Anthony and Philip Zullo
  </footer>
</body>
</html>
